.carousel {
  overflow: hidden;
  position: relative;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: green;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
  bottom: 20px;
  position: absolute;
  align-items: center;
  width: 100%;
}

.left-indicator,
.right-indicator {
  position: absolute;
  top: 50%;
}

.right-indicator {
  right: 0;
}

button.active {
  background-color: green;
}
