.editableAreaContainer {
  position: relative;
}

article {
  position: relative;
  input {
    position: absolute;
    max-width: 200px;
    transition: ease-in-out 0.5s;
    top: 18px;
  }
  input:focus {
    transition: 0.5s ease-in-out !important;
    color: black !important;
    background-color: white !important;
    border-radius: 0%;
  }

  input::placeholder {
    color: white;
  }

  button:active {
    background-color: rgb(0, 204, 0) !important;
    color: black;
    transition: ease-in-out 0.5s;
  }

  .ck.ck-editor__editable_inline {
    background-color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 1.5em;
    z-index: 2;
    top: -20px;
  }
}

.form__group {
  top: -5px;
  z-index: 3;
  position: relative;
}
